@model PaginatedList<Webapp.Models.Superheroes.SuperPowerViewModel>
@{
    ViewData["Title"] = "Superpower List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Superpower List</h1>
<table class="table">
    <thead>
    <tr>
        <th>Superpower Name</th>
        <th>Number of Superheroes</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.PowerName</td>
            <td>@item.SuperheroCount</td>
        </tr>
    }
    </tbody>
</table>
<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.PageIndex != 1 ? "" : "disabled")">
                <a class="page-link" asp-action="SuperPowerList" asp-route-page="@(Model.PageIndex == 1)">First Page</a>
            </li>
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-action="SuperPowerList" asp-route-page="@(Model.PageIndex - 1)">Previous</a>
            </li>
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.PageIndex || i == Model.PageIndex - 1 || i == Model.PageIndex + 1)
                {
                    <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                        <a class="page-link" asp-action="SuperPowerList" asp-route-page="@i">@i</a>
                    </li>
                }
                else if (i == 1 || i == Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="SuperPowerList" asp-route-page="@i">@i</a>
                    </li>
                }
                else if (i == Model.PageIndex - 2 || i == Model.PageIndex + 2)
                {
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                }
            }
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-action="SuperPowerList" asp-route-page="@(Model.PageIndex + 1)">Next</a>
            </li>
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-action="SuperPowerList" asp-route-page="@(Model.TotalPages)">Last Page</a>
            </li>
        </ul>
    </nav>
</div>